<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Screen Shot 2018-07-24 at 18.13.27.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> DoJMA app </h3>
    <ul>
      <li> iOS App Development using Swift (ongoing) </li>
    </ul>
    <p>iOS app for the Department of Journalism and Media Affairs</p>
    <a class="project-link" target="_blank" href="https://github.com/MobileApplicationsClub/DoJMA-iOS">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Sample run screenshot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Arbitrage Model for Cryptocurrency </h3>
    <ul>
      <li> Python </li>
    </ul>
    <p>Web crawler designed using Python, used to compare buying and selling rates of Ripple(XRP) across three cryptocurrency exhanges and hence determine scope for profit by arbitrage</p>
    <a class="project-link" target="_blank" href="https://github.com/raghavprasad13/Arbitrage-Model">Check it out</a>
  </div>
</div>
